@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;400&display=swap');
body {
  font-family: 'Spectral', serif !important;
}
.header-wrapper {
  background-color: rgb(255, 240, 223);
  max-height: 30rem;
}
button {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  transition: all 0.3s ease;
  outline: none !important;
}
button:hover {
  background-color: #ddbc98;
  border-radius: 0.2rem;
  outline: none !important;
}
